// ------------------------------------
// Roboto
// ------------------------------------

body {
  font-family: 'Roboto Regular';
  font-family: 'Roboto Bold';
  font-family: 'Roboto Bold Italic';
  font-family: 'Roboto Italic';
  font-family: 'Roboto Thin';
  font-family: 'Roboto Thin Italic';
  font-family: 'Roboto Light';
  font-family: 'Roboto Light Italic';
  font-family: 'Roboto Medium';
  font-family: 'Roboto Medium Italic';
  font-family: 'Roboto Black';
  font-family: 'Roboto Black Italic';
}

@font-face {
  font-family: 'Roboto Regular';
  src: local('Roboto'), local('Roboto-Regular'), url('Roboto/Roboto-Regular.woff2') format('woff2'), url('Roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('Roboto/Roboto-Bold.woff2') format('woff2'), url('Roboto/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold Italic';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('Roboto/Roboto-BoldItalic.woff2') format('woff2'), url('Roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Italic';
  src: local('Roboto Italic'), local('Roboto-Italic'), url('Roboto/Roboto-Italic.woff2') format('woff2'), url('Roboto/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Thin';
  src: local('Roboto Thin'), local('Roboto-Thin'), url('Roboto/Roboto-Thin.woff2') format('woff2'), url('Roboto/Roboto-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Thin Italic';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('Roboto/Roboto-ThinItalic.woff2') format('woff2'), url('Roboto/Roboto-ThinItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Light'), local('Roboto-Light'), url('Roboto/Roboto-Light.woff2') format('woff2'), url('Roboto/Roboto-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light Italic';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('Roboto/Roboto-LightItalic.woff2') format('woff2'), url('Roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('Roboto/Roboto-Medium.woff2') format('woff2'), url('Roboto/Roboto-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium Italic';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('Roboto/Roboto-MediumItalic.woff2') format('woff2'), url('Roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black';
  src: local('Roboto Black'), local('Roboto-Black'), url('Roboto/Roboto-Black.woff2') format('woff2'), url('Roboto/Roboto-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black Italic';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('Roboto/Roboto-BlackItalic.woff2') format('woff2'), url('Roboto/Roboto-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


// ------------------------------------
// OpenSans
// ------------------------------------

body {
  font-family: 'OpenSans Regular';
  font-family: 'OpenSans Italic';
  font-family: 'OpenSans Semibold';
  font-family: 'OpenSans Semibold Italic';
  font-family: 'OpenSans Bold';
  font-family: 'OpenSans Bold Italic';
  font-family: 'OpenSans Extrabold';
  font-family: 'OpenSans Extrabold Italic';
  font-family: 'OpenSans Light';
  font-family: 'OpenSans Light Italic';
}

@font-face {
  font-family: 'OpenSans Regular';
  src: local('Open Sans'), local('OpenSans'), url('OpenSans/OpenSans.woff2') format('woff2'), url('OpenSans/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Italic';
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('OpenSans/OpenSans-Italic.woff2') format('woff2'), url('OpenSans/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Semibold';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('OpenSans/OpenSans-Semibold.woff2') format('woff2'), url('OpenSans/OpenSans-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Semibold Italic';
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('OpenSans/OpenSans-SemiboldItalic.woff2') format('woff2'), url('OpenSans/OpenSans-SemiboldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Bold';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('OpenSans/OpenSans-Bold.woff2') format('woff2'), url('OpenSans/OpenSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Bold Italic';
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('OpenSans/OpenSans-BoldItalic.woff2') format('woff2'), url('OpenSans/OpenSans-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Extrabold';
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('OpenSans/OpenSans-Extrabold.woff2') format('woff2'), url('OpenSans/OpenSans-Extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Extrabold Italic';
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('OpenSans/OpenSans-ExtraboldItalic.woff2') format('woff2'), url('OpenSans/OpenSans-ExtraboldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Light';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('OpenSans/OpenSans-Light.woff2') format('woff2'), url('OpenSans/OpenSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Light Italic';
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('OpenSans/OpenSansLight-Italic.woff2') format('woff2'), url('OpenSans/OpenSansLight-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


// ------------------------------------
// FiraSans
// ------------------------------------

body {
  font-family: 'FiraSans Regular';
  font-family: 'FiraSans Bold';
  font-family: 'FiraSans Bold Italic';
  font-family: 'FiraSans Italic';
  font-family: 'FiraSans Light Italic';
  font-family: 'FiraSans Medium';
  font-family: 'FiraSans Medium Italic';
}

@font-face {
  font-family: 'FiraSans Bold';
  src: url('FiraSans/firasans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans Bold Italic';
  src: url('FiraSans/firasans-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans Italic';
  src: url('FiraSans/firasans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans Light';
  src: url('FiraSans/firasans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans Light Italic';
  src: url('FiraSans/firasans-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans Medium';
  src: url('FiraSans/firasans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans Medium Italic';
  src: url('FiraSans/firasans-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans Regular';
  src: url('FiraSans/firasans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


// ------------------------------------
// Lato
// ------------------------------------

body {
  font-family: 'Lato Regular';
  font-family: 'Lato Italic';
  font-family: 'Lato Bold';
  font-family: 'Lato BoldItalic';
  font-family: 'Lato Black';
  font-family: 'Lato BlackItalic';
  font-family: 'Lato Light';
  font-family: 'Lato Light Italic';
  font-family: 'Lato Hairline';
  font-family: 'Lato Hairline Italic';
}

@font-face {
  font-family: 'Lato Bold';
  src: local('Lato Bold'), local('Lato-Bold'), url('Lato/Lato-Bold.woff2') format('woff2'), url('Lato/Lato-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Light Italic';
  src: local('Lato-LightItalic'), url('Lato/Lato-LightItalic.woff2') format('woff2'), url('Lato/Lato-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline';
  src: local('Lato-Hairline'), url('Lato/Lato-Hairline.woff2') format('woff2'), url('Lato/Lato-Hairline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Light';
  src: local('Lato-Light'), url('Lato/Lato-Light.woff2') format('woff2'), url('Lato/Lato-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Black';
  src: local('Lato Black'), local('Lato-Black'), url('Lato/Lato-Black.woff2') format('woff2'), url('Lato/Lato-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline Italic';
  src: local('Lato-HairlineItalic'), url('Lato/Lato-HairlineItalic.woff2') format('woff2'), url('Lato/Lato-HairlineItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: local('Lato Regular'), local('Lato-Regular'), url('Lato/Lato-Regular.woff2') format('woff2'), url('Lato/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Italic';
  src: local('Lato Italic'), local('Lato-Italic'), url('Lato/Lato-Italic.woff2') format('woff2'), url('Lato/Lato-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato BoldItalic';
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('Lato/Lato-BoldItalic.woff2') format('woff2'), url('Lato/Lato-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato BlackItalic';
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('Lato/Lato-BlackItalic.woff2') format('woff2'), url('Lato/Lato-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
